@using System.Web.Optimization
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
    <head>
        
        <title>MMO</title>
        @Styles.Render("~/styles/frontend")
    </head>
    <body>
        @RenderBody()
    </body>
</html>
