@using Mvc.Mailer
<h1>Hello @ViewBag.Username</h1>

@{
    var tokerUrl = Url.Abs(Url.Action("reset", "passwordreset", new { token = ViewBag.Token }));
}
<p>
    Please
    <a href="@tokerUrl">click here</a>
    to reset your password
</p>

<p>
    If you did not send us a request to reset your password,
    please disregard this email, Your password has not changed.
</p>

<p>
    Or, copy and paste the following link:
    @tokerUrl
</p>