<?xml version="1.0" encoding="utf-8"?>
<parameters>
  <setParameter name="IIS Web Application Name" value="test.mmo" />
  <setParameter name="MMODatabase-Web.config Connection String" value="server=herki.cloudapp.net; port=3306;database=sta_mmo;uid=herki;password=Linux_112;Allow User Variables=True;" />
</parameters>